body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Einfacher-Grafikrahmen {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Einfacher-Textrahmen {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#e7411f;
	font-family:"Accanthis ADF Std No2", serif;
	font-size:1200px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
span.CharOverride-2 {
	color:#e7411f;
	font-family:"Accanthis ADF Std No2", serif;
	font-size:1200px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-3 {
	color:#e7411f;
	font-family:"Accanthis ADF Std No2", serif;
	font-size:560px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#e7411f;
	font-family:"Accanthis ADF Std No2", serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
}
#_idContainer000 {
	-ms-transform:translate(174.330px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(174.330px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:470.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(174.330px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(174.330px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:330.24px;
}
#_idContainer001 {
	-ms-transform:translate(73.700px,554.849px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(73.700px,554.849px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(73.700px,554.849px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(73.700px,554.849px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:296.22px;
}
#_idContainer002 {
	-ms-transform:translate(379.842px,762.335px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(379.842px,762.335px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.55px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(379.842px,762.335px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(379.842px,762.335px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:267.87px;
}
#_idContainer003, #_idContainer011, #_idContainer017, #_idContainer025, #_idContainer032, #_idContainer037, #_idContainer044, #_idContainer050, #_idContainer055, #_idContainer060, #_idContainer068 {
	-ms-transform:translate(36.000px,347.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,347.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,347.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,347.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:108.57px;
}
#_idContainer004, #_idContainer012, #_idContainer018, #_idContainer026, #_idContainer033, #_idContainer038, #_idContainer045, #_idContainer051, #_idContainer056, #_idContainer061, #_idContainer069 {
	-ms-transform:translate(528.897px,557.007px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(528.897px,557.007px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:22.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(528.897px,557.007px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(528.897px,557.007px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:272.13px;
}
#_idContainer005 {
	-ms-transform:translate(168.661px,119.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(168.661px,119.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:425.62px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(168.661px,119.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(168.661px,119.763px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:257.95px;
}
#_idContainer006, #_idContainer014, #_idContainer021, #_idContainer029, #_idContainer035, #_idContainer040, #_idContainer048, #_idContainer053, #_idContainer058, #_idContainer063 {
	-ms-transform:translate(450.708px,347.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(450.708px,347.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(450.708px,347.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(450.708px,347.769px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:108.57px;
}
#_idContainer007 {
	-ms-transform:translate(81.496px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(81.496px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:199.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(81.496px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(81.496px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:145.28px;
}
#_idContainer008 {
	-ms-transform:translate(310.393px,226.771px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(310.393px,226.771px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:194.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(310.393px,226.771px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(310.393px,226.771px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:116.93px;
}
#_idContainer009 {
	-ms-transform:translate(187.086px,557.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(187.086px,557.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.74px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(187.086px,557.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(187.086px,557.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:274.96px;
}
#_idContainer010 {
	-ms-transform:translate(81.496px,384.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(81.496px,384.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:89.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(81.496px,384.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(81.496px,384.094px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:136.77px;
}
#_idContainer013 {
	-ms-transform:translate(90.283px,462.755px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(90.283px,462.755px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:299.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(90.283px,462.755px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(90.283px,462.755px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:322.16px;
}
#_idContainer015 {
	-ms-transform:translate(133.228px,242.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(133.228px,242.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:178.58px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(133.228px,242.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(133.228px,242.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:144.57px;
}
#_idContainer016 {
	-ms-transform:translate(255.118px,582.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(255.118px,582.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:179.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(255.118px,582.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(255.118px,582.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:232.44px;
}
#_idContainer019 {
	-ms-transform:translate(199.984px,137.834px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(199.984px,137.834px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:352.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.984px,137.834px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(199.984px,137.834px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:277.51px;
}
#_idContainer020 {
	-ms-transform:translate(297.637px,499.429px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(297.637px,499.429px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:232.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(297.637px,499.429px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(297.637px,499.429px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:165.83px;
}
#_idContainer022 {
	-ms-transform:translate(232.866px,538.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(232.866px,538.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:226.77px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(232.866px,538.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(232.866px,538.582px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:272.13px;
}
#_idContainer023 {
	-ms-transform:translate(124.299px,284.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(124.299px,284.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:95.67px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(124.299px,284.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(124.299px,284.881px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:108.57px;
}
#_idContainer024 {
	-ms-transform:translate(284.314px,456.377px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(284.314px,456.377px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:274.96px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(284.314px,456.377px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(284.314px,456.377px) rotate(270.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:187.09px;
}
#_idContainer027 {
	-ms-transform:translate(206.929px,440.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(206.929px,440.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:249.45px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.929px,440.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(206.929px,440.787px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:192.76px;
}
#_idContainer028 {
	-ms-transform:translate(348.094px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(348.094px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:303.31px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(348.094px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(348.094px,85.039px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:201.97px;
}
#_idContainer030 {
	-ms-transform:translate(187.086px,493.228px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(187.086px,493.228px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:223.94px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(187.086px,493.228px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(187.086px,493.228px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:299.76px;
}
#_idContainer031 {
	-ms-transform:translate(51.023px,138.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(51.023px,138.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:340.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(51.023px,138.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(51.023px,138.897px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:165.26px;
}
#_idContainer034 {
	-ms-transform:translate(-68.032px,-66.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-68.032px,-66.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1007.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-68.032px,-66.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-68.032px,-66.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:663.31px;
}
#_idContainer036 {
	-ms-transform:translate(37.275px,72.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(37.275px,72.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:696.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(37.275px,72.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(37.275px,72.632px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:467.72px;
}
#_idContainer039 {
	-ms-transform:translate(76.535px,239.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(76.535px,239.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:394.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(76.535px,239.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(76.535px,239.527px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:473.53px;
}
#_idContainer041 {
	-ms-transform:translate(172.913px,72.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(172.913px,72.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:248.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(172.913px,72.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(172.913px,72.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:300.90px;
}
#_idContainer042 {
	-ms-transform:translate(102.047px,385.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(102.047px,385.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:289.13px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(102.047px,385.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(102.047px,385.511px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:232.91px;
}
#_idContainer043 {
	-ms-transform:translate(382.677px,681.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(382.677px,681.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:86.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(382.677px,681.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(382.677px,681.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:108.57px;
}
#_idContainer046 {
	-ms-transform:translate(155.905px,420.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(155.905px,420.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:260.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(155.905px,420.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(155.905px,420.944px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:222.52px;
}
#_idContainer047 {
	-ms-transform:translate(116.220px,127.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(116.220px,127.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:157.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(116.220px,127.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(116.220px,127.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:150.94px;
}
#_idContainer049 {
	-ms-transform:translate(243.354px,316.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(243.354px,316.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(243.354px,316.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(243.354px,316.417px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:108.57px;
}
#_idContainer052 {
	-ms-transform:translate(221.456px,321.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(221.456px,321.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:198.43px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(221.456px,321.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(221.456px,321.732px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:152.36px;
}
#_idContainer054 {
	-ms-transform:translate(141.732px,187.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(141.732px,187.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:467.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(141.732px,187.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(141.732px,187.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:311.81px;
}
#_idContainer057 {
	-ms-transform:translate(114.803px,145.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(114.803px,145.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:549.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(114.803px,145.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(114.803px,145.984px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:365.67px;
}
#_idContainer059 {
	-ms-transform:translate(158.385px,259.370px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(158.385px,259.370px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:323.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(158.385px,259.370px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(158.385px,259.370px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:278.50px;
}
#_idContainer062 {
	-ms-transform:translate(144.566px,231.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(144.566px,231.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:473.39px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(144.566px,231.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(144.566px,231.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:334.49px;
}
#_idContainer064 {
	-ms-transform:translate(104.173px,187.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(104.173px,187.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:266.46px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(104.173px,187.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(104.173px,187.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:193.46px;
}
#_idContainer065 {
	-ms-transform:translate(187.086px,557.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(187.086px,557.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:208.35px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(187.086px,557.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(187.086px,557.007px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:158.74px;
}
#_idContainer066 {
	-ms-transform:translate(365.669px,170.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(365.669px,170.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(365.669px,170.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(365.669px,170.078px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:145.42px;
}
#_idContainer067 {
	-ms-transform:translate(420.472px,460.157px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(420.472px,460.157px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:87.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(420.472px,460.157px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(420.472px,460.157px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:71.43px;
}
#_idContainer070 {
	-ms-transform:translate(340.157px,637.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(340.157px,637.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:99.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(340.157px,637.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(340.157px,637.086px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:175.75px;
}
#_idContainer071 {
	-ms-transform:translate(-53.859px,-99.213px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(-53.859px,-99.213px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1007.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-53.859px,-99.213px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(-53.859px,-99.213px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:663.31px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
